{% extends "skel.html" %}

{% block title %}Uploader{% endblock %}
{% block content %}
<div class="row">
  <div class="small-12 columns">
    <h2>Ajouter un document dans "{{group.name}}"</h2>
    <ul class="tabs" data-tab>
      <li class="tab-title active">
        <a href="#upload-tab-1" >
          <i class="fi-page-filled"></i>
          Un seul fichier
        </a>
      </li>
      <li class="tab-title">
        <a href="#upload-tab-n">
          <i class="fi-page-multiple"></i>
          Plusieurs fichiers
        </a>
      </li>
      <li class="tab-title">
        <a href="#create-tab" >
          <i class="fi-page-filled"></i>
          Créer un document
        </a>
      </li>
    </ul>

    <div class="tabs-content">
      <div class="content active row" id="upload-tab-1">
        <div class="medium-8 small-12 columns">
          <form action="{% url 'document_put' group.slug %}" method="post"
                  enctype="multipart/form-data" class="dropzone">
              {% csrf_token %}
              {{ form.non_field_errors }}

              {% with form.file as field %}
                  {% if field.errors %}
                    <small class="error">
                      {% for error in field.errors %}
                        {{error}}</br>
                      {% endfor %}
                    </small>
                  {% endif %}
                  <div class="panel callout drop-panel">
                      <br>
                      <div class="row">
                          <div class="small-6 columns">
                              {{field}}
                          </div>
                          <div  class="small-6 columns">
                          </div>
                      </div>
                  </div>
              {% endwith %}

              {% with form.name as field %}
                  {% include "simple_input.html" %}
              {% endwith %}
              {% with form.tags as field %}
                  {% include "simple_input.html" %}
              {% endwith %}
              {% with form.description as field %}
                  {% include "simple_input.html" %}
              {% endwith %}

              <p class="text-right">
                <input type="submit" class="button success radius" value="Upload" />
              </p>
          </form>
        </div>
        <div class="medium-4 small-12 columns">
          <div class="alert-box info radius row">
            <div class="small-3 columns">
              <i class="fi-info round-icon big"></i>
            </div>
            <div class="small-9 columns">
              <p>Vous pouvez uploader à peu près n'importe quel type de document. DocHub accepte les pdf, jpg, png, doc(x), ppt(x), odt, et bien plus encore.</p>
              <p>Complétez une brève description du document afin d'aider tout le monde à trouver les informations plus efficacement. Vous pourrez encore les éditer plus tard s'il le faut.</p>
            </div>
          </div>
        </div>

      </div>

      <div class="content row" id="upload-tab-n">
        <div class="medium-8 small-12 columns">
          <form action="{% url 'document_put_multiple' group.slug %}" method="post"
                  enctype="multipart/form-data" class="dropzone">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {% with multiform.files as field %}
              {% if field.errors %}
                <small class="error">
                  {% for error in field.errors %}
                    {{error}}</br>
                  {% endfor %}
                </small>
              {% endif %}
              <div class="panel callout drop-panel">
                  <br>
                  <div class="row">
                      <div class="small-6 columns">
                          {{field}}
                      </div>
                      <div  class="small-6 columns">
                      </div>
                  </div>
              </div>
            {% endwith %}
            <p class="text-right">
              <input type="submit" class="button success radius" value="Upload" />
            </p>
          </form>
        </div>
        <div class="medium-4 small-12 columns">
          <div class="alert-box info radius row">
            <div class="small-3 columns">
              <i class="fi-info round-icon big"></i>
            </div>
            <div class="small-9 columns">
              <p>Vous pouvez uploader à peu près n'importe quel type de document. DocHub accepte les pdf, jpg, png, doc(x), ppt(x), odt, et bien plus encore.</p>
              <p>Vous pourrez éditer la description et les tags de chaque document individuellement par après</p>
            </div>
          </div>
        </div>
      </div>

      <div class="content row" id="create-tab">
        <div class="medium-8 small-12 columns">
          <form action="{% url 'document_put' group.slug %}" method="post"
                  enctype="multipart/form-data" class="dropzone">
              {% csrf_token %}
              {{ form.non_field_errors }}


              {% with form.name as field %}
                  {% include "simple_input.html" %}
              {% endwith %}
              {% with form.tags as field %}
                  {% include "simple_input.html" %}
              {% endwith %}
              {% with form.description as field %}
                  {% include "simple_input.html" %}
              {% endwith %}

              <p class="text-right">
                <input type="submit" class="button success radius" value="Créer" />
              </p>
          </form>
        </div>
        <div class="medium-4 small-12 columns">
          <div class="alert-box info radius row">
            <div class="small-3 columns">
              <i class="fi-info round-icon big"></i>
            </div>
            <div class="small-9 columns">
              <p>TEXT</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function() { $(".chosen-select").select2(); });
</script>
{% endblock %}
