users/tests/xml-private-data/*.xml
dumper/*.json
*pyc
.coverage
htmlcov/
db.sql
db.sqlite
initial_data.json
ve
graph.*
*.pid
*.log
www/secret_key.txt
www/config/local.py
media/
.cache
node_modules/
collected_static/
.vagrant/

# Android Studio files
*.iml
*.gradle
*/.idea/workspace.xml
*/.idea/libraries
*.DS_Store
application/android/DocHub/local.properties
application/android/DocHub/local/build
application/android/DocHub/local/captures
application/android/DocHub/app/build/intermediates
application/android/DocHub/app/build/generated
application/android/DocHub/app/build/tmp
*.externalNativeBuild
