{% extends "skel.html" %}

{% load mptt_tags %}

{% block title %}Liste des groupes{% endblock %}

{% block content %}
<div class="row">
  <div class="columns">
    <h1>Liste des groupes</h1>
    <ul class="no-bullet">
      {% recursetree categories %}
        <li>
          <h5>
            <a href="{% url 'category_show' node.id %}">{{ node.name }}</a>
          </h5>
          {% if node.group_set.all|length > 0 %}
            <ul>
              {% for group in node.group_set.all %}
                <li>
                  <h6>
                    <i class="fi-arrow-right"></i>
                    <a href="{% url 'group_show' group.slug %}">
                      <span class="group-label radius success label">
                        {{ group.slug }}
                      </span>
                      {{ group.name }}
                    </a>
                  </h6>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if not node.is_leaf_node %}
            <ul>
              {{ children }}
            </ul>
          {% endif %}
          </li>
      {% endrecursetree %}
    </ul>
  </div>
</div>
{% endblock %}
