{% extends "skel.html" %}

{% block title %}Liste des groupes{% endblock %}

{% block content %}
<div class="row">
  <div class="columns">
    <h1>Liste des groupes</h1>
      <ul class="group-list">
        {% for group in groups %}
          <li>
            <h6>
              <a href="{% url 'group_show' group.slug %}">
                  <span class="group-label radius success label">
                    {{ group.slug }}
                  </span>
                  {{ group.name }}
              </a>
            </h6>
          </li>
        {% endfor %}
      </ul>
  </div>
</div>
{% endblock %}
