{% extends "skel.html" %}

{% load humanize %}
{% load custommardown %}
{% load activity_tags %}
{% load pipeline %}

{% block title %}{{ group.name }} | DocHub {% endblock %}

{% block content %}
<div class="row">
  <div class="medium-10 small-12 columns">
    <h1>
      {{ group.name }} <small>({{ group.slug|upper }})</small>
      {% if request.user|is_following:group %}
        <i class="fi-check green"></i>
      {% endif %}
    </h1>
  </div>
  <div class="small-12 large-2 columns">
    {% if request.user|is_following:group %}
      <a class="button alert radius" id="group-button" href="{% url 'leave_group' group.slug %}">
        <i class="fi-x"></i> Quitter le groupe
      </a>
    {% else %}
      <a class="button success radius" id="group-button" href="{% url 'join_group' group.slug %}">
        <i class="fi-check"></i> Rejoindre le groupe
      </a>
    {% endif %}
  </div>
</div>
{% with documents=documents.all threads=threads.all %}
  <div class="row">
    <ul class="tabs small-12 large-10 columns" data-tab>
      <li class="tab-title active"><a href="#threads">Discussions</a></li>
      <li class="tab-title"><a href="#chat">Chat</a></li>
      <li class="tab-title"><a href="#documents">Documents ({{documents.count}})</a></li>
      <li class="tab-title"><a href="#about">À propos</a></li>
      {% if group in request.user.moderated_groups.all %}
        <li class="tab-title"><a href="#admin">Administration</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="row">
    <div class="tabs-content columns">
      {% include "telepathy/group_threads.html" %}
      {% include "chat/group_chat.html" %}
      {% include "documents/group_documents.html" %}
      {% include "catalog/group_about.html" %}
      {% if group in request.user.moderated_groups.all %}
        {% include "catalog/group_admin.html" %}
      {% endif %}
    </div>
  </div>
{% endwith %}
{% endblock %}


{% block script %}
{% javascript 'chat' %}
<script type="text/javascript">
    loadGroupViewer('documents-list');
</script>
{% endblock %}
